html{
  font-size: 18px;
}
body{
  font-family: Helvetica;
}

/* div{border: 1px solid blue;} */

/*Header styles*/
header{
  display: flex;
  justify-content: center;
  background-color: darkblue;
  color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  font-weight: bold;
}
.logo{
  display: flex;
  align-items: center;
  width: 960px;
}
.logo img{
  height: 1.5rem;
  margin: auto 1rem auto .5rem;
}
.logo span{
  margin: 0.66rem 0;
}

/* Main Content */
.container{
  display: flex;
  flex-direction: column;
  padding-top: 2.32rem;
}
.mainCont{
  background-image: url("../media/bg1pinh.jpg");
  height: 30rem;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.maincHold{
  width: 960px;
  margin: 0 auto;
  padding-top: 19rem;
}
.infoFloat{
/*  background-color: white; */
  color: black;
/*  width: 40rem; */
  padding: 1rem 1rem;
}
.infoFloat h1{
  font-size: 3rem;
  padding: .75rem 0;
  font-weight: 900;
}
.infoFloat h2{
  font-size: 2.5rem;
  font-weight: 900;
}

/* Nav Bar */
.menu{
  display: flex;
  background-color: #FF2400;
}
.menu nav{
  margin: 0.75rem auto;
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-between;
}
.menu span{
  color: gray;
  font-size: 1.15rem;
  font-weight: bold;
  text-shadow: 1px 2px black;
}

@media only screen and (max-width: 1024px){
  .item{width: 47%;}


}
