html{
  font-size: 18px;
}
body{
  font-family: Helvetica;
}
a{
  color: gray;
}
/* div{border: 1px solid blue;} */

/*Header styles*/
header{
  display: flex;
  justify-content: center;
  background-color: darkblue;
  color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  font-weight: bold;
}
.logo{
  display: flex;
  align-items: center;
  width: 960px;
}
.logo img{
  height: 1.5rem;
  margin: auto 1rem auto .5rem;
}
.logo span{
  margin: 0.66rem 0;
}

/* Main Content */
.container{
  display: flex;
  flex-direction: column;
  padding-top: 2.32rem;
}
.mainCont{
  background-image: url("../media/bg1pinh.jpg");
  height: 30rem;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.maincHold{
  width: 960px;
  margin: 0 auto;
  padding-top: 18.5rem;
}
.infoFloat{
  color: black;
  padding: 1rem 1rem;
}
.infoFloat h1{
  font-size: 3rem;
  padding: .75rem 0;
  font-weight: 900;
}
.infoFloat h2{
  font-size: 2.5rem;
  font-weight: 900;
}
.infoFloat h3{
  font-size: 2rem;
  font-weight: 900;
}

/* Information Section */
.infoCont{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.infoHold{
  width: 960px;
  margin: 0 auto;
}
.infoHold div{
  padding-top: 1rem;
}
.infoHold h2{
  font-weight: bold;
  font-size: 22px;
}

/* Nav Bar */
.menu{
  display: flex;
  background-color: #FF2400;
}
.menu nav{
  margin: 0.5rem auto;
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-between;
}
.menu span{
  color: gray;
  font-size: 1.15rem;
  font-weight: bold;
  text-shadow: 1px 2px black;
}

/* Schedule Stuff */
#gsched{
  width: 100%;
  border-collapse: collapse;
}
#gsched th{
  padding: 10px;
  border: 1px solid black;
}
#gsched td{
  border: 1px solid black;
  padding: 5px;
}
#gsched tr:nth-child(even){
  background-color: lightgray;
}
#gsched th{
  padding: auto auto;
  text-align: center;
  background-color: darkblue;
  color: white;
}
#gsched tr:hover{
  background-color: gray;
}

/* Signup Stuff*/
.signCont{
  background-image: url("../media/bg1pinh.jpg");
  height: 55rem;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.signHold{
  width:700px;
  margin: 0 auto;
  padding-top: 2rem;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signHold h1{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.butts{
  border:thin solid #03F;
  margin: 0 5px;
	padding: 8px;
}
.rity{
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
fieldset{
	width: 700px;
}
fieldset p{
	padding: 5px;
}
legend{
	font-size: 20px;
}
label.field{
	text-align: left;
	width: 13rem;
	float: left;
	font-weight: bold;
  text-shadow: 1px 1px white;
}
input.textbox-300{
	width: 300px;
	border: thin solid #888888;
}
input.textbox-300d{
	width: 400px;
	float: left;
	border: thin solid #888888;
	margin-left: 15px;
}
input.textbox-25{
	width: 25px;
	float: left;
	border: thin solid #888888;
}
/*
#comments{
 background-image: url("../media/pebbleblack_trns_red.gif");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* Google Map Section */
#lochold{
  display: flex;
  flex-direction: row;
  padding: 0;
}
#lochold div{
  display: flex;
  flex-direction: column;
}
#lochold .mfadd{
  margin: 3rem 5rem;
  font-size: 20px;
  font-weight: bold;
}
#lochold .map{
  margin: auto auto;
  padding: 0;
}

/* Contact Section */
#contact .mfadd{
  margin: 1rem 1rem;
}

/* Footer Section */
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 5rem;
  width: 960px;
}
footer img{
  height: 5rem;
  width: 5rem;
}
footer p{
  margin: auto .5rem;
}

/* Screen size Section */
@media only screen and (max-width: 1024px){
  .item{width: 47%;}

}
